nav a {
    display: block;
    padding: 10px;
    color: #57BD37;
    font-size: 14px;
    text-decoration: none;
    background: #fafafa;
    text-align: right;

    &:hover {
        color: darken(#57BD37, 30%);
        text-decoration: none;
    }
}

.dropdown {
    top: 61px;
    z-index: 999;
    list-style: none;
    width: 1200px;
    background-color: #57BD37;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    color: #fff;
}

.dropdown li {
    list-style: none;
    position: relative;
    border-bottom: 1px solid #fff;
    width: 30%;
    padding: 10px;
}

.dropdown li a {
    color: #ffffff;
    text-decoration: none;
    display: block;

    &:hover {
        color: #434343;
    }

    > i {
        margin-top: 5px;
    }
}

.search-menu {
    color: #57BD37;
    height: auto;
    padding: 3px;
    border: none;
    text-indent: 10px;

    &::placeholder {
        color: #57bd37;
    }
}

#filtersubmit {
    position: relative;
    z-index: 1;
    left: 285px;
    top: -33px;
    color: #57bd37;
    cursor: pointer;
    width: 0;
    font-size: 16px;
}

.hide-button {
    background: transparent;
    border: none !important;

    &:focus {
        outline: 0;
    }
}

.dropdown li ul {
    position: absolute;
    left: 100%;
    margin: 0;
    list-style: none;
    display: none;
    line-height: normal;
    color: #ffffff;
    text-decoration: none;
    padding-left: 40px;
    width: 100%;
    top: 0;

    &:hover {
        color: #434343;
    }

    > i {
        margin-top: 5px;
    }

    > li {
        width: 100%;
    }
}

.dropdown li ul li a {
    text-align: left;
    color: #ffffff;
    display: block;
    white-space: nowrap;
    position: relative;
    z-index: 999;
    padding:3px;
}

.dropdown li ul li ul {
    left: 100%;
    top: 0;
}

ul li:hover > a {
    //background-color: #0abf53;
    //scolor: #ffffff !important;
}

ul li:hover > ul {
    display: block;
}