.side-menu {
    padding: 10px;
    height: 90%;
    font-size: 18px;
    > li {
        padding: 5px 0px;

        > a {
            color: #212529;
            text-transform: uppercase;

            &.active{
                color: lighten(#212529, 35%);
                font-weight: bold;
            }

            &:hover {
                color: darken(white, 15%);
                text-decoration: none;
            }

            > img {
                margin: 0px 10px 3px;
            }

        }
    }
}

@include media-breakpoint-down(sm) {
    /*.logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .header-bar{
        padding-top: 40px;
        text-align:center;
    }*/
}

.main-menu{
    //border-bottom: 1px solid #ccc;
    font-weight: bold;
}

li.nav-item:last-child{
    border-bottom: 1px solid #ccc;
}

