/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 10%; /* Full-width */
    height: 1px; /* Specified height */
    background: #212529; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin: 20px;
    padding: 0px;
    margin-top:24px;
}

.slider:before {
    content: "";
    background-color: #212529;
    height: 9px;
    position: absolute;
    top: 20px;
    width: 1px;
    left:567px;
}

.slider:after {
    content: "";
    background-color: #212529;
    height: 9px;
    position: absolute;
    top: 20px;
    width: 1px;
}

.text-a:before {
    content: "A";
    left: 20px;
    top: 5px;
    font-size: 12px;
    position: relative;
}

.text-a-last:before {
    content: "A";
    left: -20px;
    top: 5px;
    font-size: 16px;
    position: relative;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #57BD37; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #57BD37; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
}
@media all and (max-width: 768px) {

    .slider {
        -webkit-appearance: none; /* Override default CSS styles */
        appearance: none;
        width: 30%; /* Full-width */
        height: 1px; /* Specified height */
        background: #212529; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;
        margin: 20px;
        padding: 0px;
        margin-top:24px;
    }

    .slider:before {
        content: "";
        background-color: #212529;
        height: 9px;
        position: absolute;
        top: 27px;
        width: 1px;
        left:569px;
    }

    .slider:after {
        content: "";
        background-color: #212529;
        height: 0px;
        position: absolute;
        top: 27px;
        width: 1px;
    }
}