.page-title {
    font-family: "Georgia-Bold";
    color: #005EAA;
    font-size: 40px;
}

.text-bold {
    font-family: "Georgia-Bold";
    font-weight: bold;
}

p.help-text{
    color: red;
    margin: 0;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.content{
    img{
        width: 100%;
    }
}