.dark-mode{
    background-color: #152028;
    color: #dee2e6;

    img {
        opacity: 0.5;
    }

    i,button{
        color: #dee2e6;
    }
    .more-form-box, .card{
        background-color: #152028;
        color: #dee2e6;
    }
}

body{
    background-color: #fafafa;
}

.content-detail{
    width: 80%;
}

.more-form-box{
    background-color: white;
    padding: 30px;
}