$font-path: "/fonts";
@font-face {
  font-family: "Georgia";
  src: url("#{$font-path}/Georgia.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia-Bold";
  src: url("#{$font-path}/georgia-bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: "Karla";
    src: url("#{$font-path}/Karla-Regular.ttf");
    font-weight: bold;
    font-style: normal;
}

body {
    font-size: 21px;
    line-height: 26px;
    color: #333333;
    font-family: 'Georgia';
    background-color: #fafafa;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5{
    font-weight: bold;
    font-family: $text-bold;
    text-transform: uppercase;
}

h2, .h2{
    font-size: 26px;
    text-transform: uppercase;
    &.topic{
        &-dark{
            color: $color-blue;
        }
        &-light{
            color: $color-gray;
        }
    }
}
h3, .h3{
    font-size: 26px;
}
h4, .h4{
    font-size: 22px;
}

a{
    font-family: $text-normal, sans-serif;
    color: $color-blue;
}

time{
    font-size: 16px;
    font-family: $text-normal, sans-serif;
}

.view-all{
    font-size: 21px;
    line-height:  26px;
}

p, ul{
    font-family: $text-normal, sans-serif;
    font-size: 21px;

}
@media screen and (max-width: 660px) {
    p, ul{
        font-size: 14px;
    }
}
.text-white{
    color: #FFFFFF;
}
.pointer{
    &:hover{
        cursor: pointer;
        text-decoration: none;
    }
}